# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=pos2

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=12h

# Terminal
TERMINAL_ID=T01
STORE_OUTLET_ID=OT99

# Printer
PRINTER_NAME=POS80
